In [22]:
import pandas as pd
import numpy as np

In [28]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [34]:
cars1 = cars1.loc[1:, "mpg":"car"]
print(cars1.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70
5  15.0          8           429        198    4341          10.0     70

   origin                 car
1       1   buick skylark 320
2       1  plymouth satellite
3       1       amc rebel sst
4       1         ford torino
5       1    ford galaxie 500

In [35]:
print(cars1.shape)
print(cars2.shape)

(197, 9)
(200, 9)

In [36]:
cars = pd.concat([cars1, cars2], ignore_index=True)
print(cars.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  15.0          8           350        165    3693          11.5     70
1  18.0          8           318        150    3436          11.0     70
2  16.0          8           304        150    3433          12.0     70
3  17.0          8           302        140    3449          10.5     70
4  15.0          8           429        198    4341          10.0     70

   origin                 car
0       1   buick skylark 320
1       1  plymouth satellite
2       1       amc rebel sst
3       1         ford torino
4       1    ford galaxie 500

In [39]:
nr_owners = np.random.randint(15000, 73001, size=398, dtype='int32')
print(nr_owners)

[38833 38249 19801 59727 61114 34047 16412 36881 30584 45220 52200 16447
 59303 27950 59833 43823 39361 67046 59453 69977 35210 57190 58871 22628
 30513 20873 38605 34313 46822 29525 59272 34459 29214 64620 21917 50414
 31874 64976 16182 31444 44981 35550 63047 44326 33276 63720 51532 50180
 53711 45034 34143 65754 50321 67755 43396 17519 58344 28419 21384 49194
 66995 30419 31771 53644 72275 62180 17898 38871 31789 61582 48828 21770
 58151 22384 52549 48007 25337 24433 27279 56594 18992 18281 58835 21841
 60839 23045 42300 50135 35071 29175 25885 51949 30596 55904 46071 38571
 65944 50877 56231 45078 55617 28545 51915 36928 67615 26424 58241 51764
 40410 72087 21684 27943 66399 60063 27772 66812 39708 37588 22960 43954
 34794 20442 35972 20805 63987 60931 15163 18716 66704 19592 49455 29919
 19550 64631 22282 25312 60050 60299 28817 36821 69001 68836 59942 61055
 34607 60404 55245 34864 72173 41757 54530 34411 35128 33520 57452 45424
 24364 58489 70027 42665 71348 60842 28524 38829 57965 43298 38718 45833
 26973 55565 53280 69085 22949 58842 15175 59058 68679 28060 63032 15734
 30280 37618 40128 18652 69867 71168 47084 52730 30679 55843 54939 68546
 53040 22425 56108 59081 66876 66215 18514 62548 68387 16339 23169 57883
 72137 52702 50978 57769 50390 19788 43175 68185 25354 49778 53410 65791
 24491 40707 36533 37695 57567 35173 25608 62829 54149 56327 63961 20731
 72535 57152 65193 17112 71123 43573 57998 59387 27186 29142 62933 43371
 18755 47650 19479 41744 37951 56449 15595 18572 62232 48456 65296 60366
 61687 25344 15642 59680 27014 54368 58824 64987 18730 48473 64603 53163
 57554 19888 23027 31223 29051 69383 70260 67697 41564 65479 44836 68283
 23118 17782 17809 42310 68354 38597 35252 43042 51000 24256 36640 64833
 68538 51735 47165 47440 67434 56402 26599 57645 68507 61798 48159 45977
 53162 65600 22201 67875 49388 23746 17635 20503 60904 48017 47235 68704
 25925 21574 52409 22673 27348 45624 44454 49650 70275 15322 21225 53620
 26356 42907 67378 28492 71553 72797 67644 47920 32027 26262 56664 38769
 30971 71992 54772 56531 63445 70755 52488 36328 24805 44657 66576 45770
 70517 48626 38255 62536 46651 36851 58190 66599 69618 30295 63192 30377
 64289 63206 53590 25448 22746 69606 65794 35813 18011 70334 21546 36575
 38900 44894 42824 35782 32593 49079 59759 57573 72444 15265 71228 16128
 66965 26235 28158 25902 30354 48712 57760 63577 25107 27182 43375 17779
 52302 53758]

In [45]:
cars["owners"]=nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
392,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,30597
393,44.0,4,97,52,2130,24.6,82,2,vw pickup,33631
394,32.0,4,135,84,2295,11.6,82,1,dodge rampage,53880
395,28.0,4,120,79,2625,18.6,82,1,ford ranger,25908
396,31.0,4,119,82,2720,19.4,82,1,chevy s-10,56696